<%#
	BarGraph.tpl
	
	Type: page component
	Usage: display a list of bars given an array containing the values
	
	Variables:
		data: an associative array of 'label' => dataPoint
			e.g. 'Blue' => 10, 'Red' => 20, 'Orange' => 25
%>

<%
var maxData = Math.max.apply(null, data);
if (maxData == 0) {
	maxData = 1; // Prevent division by zero
}
%>

<table class="bar-graph">
<% forEach (data, function(heading, dataPoint) {
	var width = dataPoint / maxData * maxWidth;
	%>
	<tr>
		<td class="left"><%= heading %></td>
		<td class="right">
			<span style="width: <%= width %>px"<% if (cssClass) { %> class="<%= cssClass %><%= i %><% } %>"></span>
			<%= dataPoint %>
		</td>
	</tr>
<% }); %>
</table>
